<!DOCTYPE html>
    <head>
        <title>Simple DB CRUD</title>
        <link href="./stylesheets/index.css">
    </head>
    
    <body>
        <br>
        <form method="POST" action="http://localhost:3302/addclient">
            <label for="clientName">Name:</label>
            <input type="text" id="clientName" name="clientName"><br><br>
            
            <label for="clientAge">Age:</label>
            <input type="text" id="clientAge" name="clientAge"><br><br>
                <br>
            <input type="submit" value="Submit" class="btn" id="submit-btn">
        </form>
        <br>
        <button id="showClientsBtn" onclick="location.href='http://localhost:3302/clients'">Show Clients</button>
    </body>
</html>